* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

body {
  text-align: center;
}

nav {
  color: white;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

nav h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    width: 100%;
    position: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.profile-pic {
  margin-top: 140px;
}

span {
  border: grey dashed 2px;
  padding: 90px;
  margin: 30px;
  border-radius: 50%;
}

.profile-details {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details h3 {
  border: solid grey 2px;
  width: 50%;
  padding: 25px;
}
