* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

nav {
  border: grey solid 2px;
  background-color: grey;
  padding: 15px;
  font-size: 30px;
  width: 100%;
}

body {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  flex-direction: row;
  max-width: 1200px;
}

.hero {
  border: 2px solid grey;
  margin: 15px 2.5%;
  padding: 150px;
  flex-basis: 45%;
  box-sizing: border-box;
  background-color: #e5e5e5;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #e5e5e5;
  padding: 250px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    flex-direction: column;
    margin: 35px auto;
  }

  .hero {
    padding: 80px;
  }

  .features {
    padding: 150px;
  }
}

.feature-1,
.feature-2,
.feature-3 {
  border: grey 2px solid;
  padding: 85px;
}

.why-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 300px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .why-section {
    padding: 150px;
  }
}

.footer {
  border: grey 2px solid;
  background-color: grey;
}
