* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

body {
  text-align: center;
}

nav {
  color: white;
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

nav h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    width: 100%;
    position: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}

main {
  display: flex;
  margin-left: 12%;
}

.team-sidebar {
  flex: 1;
  background: #f0f0f0;
}

.team-sidebar h3 {
  border: solid grey 2px;
  padding: 20px;
  margin: 15px;
}

.team-view {
  flex: 3;
  display: flex;
  justify-content: center;
}

.team-member-selected {
  border: solid grey 2px;
  width: 95%;
  margin-top: 20px;
  background: #e0e0e0;
}
